body {
  margin: 0;
  padding-top: 2em;
  display: flex;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.player-score-container {
  display: flex;
  justify-content: space-between;
}

.rumbler:has(.player-box):not(:last-child)>.player-box {
  margin-right: 0.5em;
}

.key-button {
  margin: 0.5em !important;
  padding: 1.5em;
}

.score-item {
  margin-right: 0.5em;
}

.player-star {
  position: absolute !important;
  top: -20px;
  left: -15px;
}

.relative-badge {
  position: unset !important;
}

.rumbler {
  display: contents;
}

.rumble>* {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.game-process-container {
  margin-right: 0.2em;
}

.lobby-player-star {
  margin-right: 1.5em;
}

.lobby-player-star:before {
  top: -4px;
}

.hidden-star {
  opacity: 0;
}

#player-name {
  display: inline;
  width: 250px;
  margin-right: 1em;
}

.lobby-player-row {
  height: 65px;
  display: flex;
  align-items: center;
  margin-left: 5em;
}

.copy-button {
  margin-left: 1.5em;
  width: 150px;
}

.nes-container.with-title>.title {
  margin-top: -2.3rem !important;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.lobby-url-copy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-box.with-title>.title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  display: inherit;
}

@media (max-width: 800px) {
  .lobby-url-copy-container {
    flex-direction: column;
  }

  .copy-button {
    margin-top: 1em;
  }

  .lobby-player-row {
    margin-left: 0;
  }

  #player-name {
    width: 150px;
  }

  .lobby-player-label {
    display: none;
  }

  .player-box {
    padding: 1rem 0rem !important;
  }

  .player-box.with-title>.title {
    margin-top: -1.6rem !important;
    font-size: 0.8rem !important;
    margin-left: 0.9rem !important;
    max-width: 140px;
  }

  .key-button {
    padding: 1em;
  }

  .player-score-container {
    overflow: hidden;
    max-width: 100vw;
    padding-top: 0.8rem;
    margin-left: -1rem;
    padding-left: 1rem;
    margin-top: 0;
  }

  .lobby-url {
    word-wrap: break-word
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0.5em;
    max-width: 95vw;
  }

  .nes-container {
    padding: 1.5rem 1rem;
  }

  #player-name {
    width: 120px;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }

  .player-box.with-title>.title {
    max-width: 110px;
  }
}

@media (max-width: 400px) {
  .key-button {
    padding: 0.5em;
  }
  .nes-badge {
    width: unset !important;
  }
  .player-box {
    padding: 1rem 0.2rem !important;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}